<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.mappers.BookMapper">

    <!-- 通用字段 -->
    <sql id="commonField">
        id
        ,ISBN
        ,name
        ,cover
        ,author
        ,publish
        ,publish_date
        ,book_type_id
        ,description
        ,number
        ,create_time
        ,update_time
    </sql>

    <!-- 通用查询sql -->
    <sql id="commonSelect">
        select
        <include refid="commonField"/>
    </sql>

    <!-- 条件分页查询 -->
    <select id="select" resultType="com.main.entity.po.Book" >
        <include refid="commonSelect"/>
        from books
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="author != null and author != ''">
                and author like concat('%', #{author}, '%')
            </if>
            <if test="startDate != null and endDate != null">
                and publish_date between #{startDate} and #{endDate}
            </if>
            <if test="bookTypeId != null">
                and book_type_id = #{bookTypeId}
            </if>
        </where>
    </select>

    <!-- 通过id查询 -->
    <select id="selectById" resultType="com.main.entity.po.Book">
        <include refid="commonSelect"/>
        from books
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.main.entity.po.Book">
        insert into books(<include refid="commonField"/>) values(
        #{id},
        #{isbn},
        #{name},
        #{cover},
        #{author},
        #{publish},
        #{publishDate},
        #{bookTypeId},
        #{description},
        #{number},
        #{createTime},
        #{updateTime})
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsert">
        insert into books(<include refid="commonField"/>) values
        <foreach collection="books" item="item" separator=",">
            (#{item.id},
            #{item.isbn},
            #{item.name},
            #{item.cover},
            #{item.author},
            #{item.publish},
            #{item.publishDate},
            #{item.bookTypeId},
            #{item.description},
            #{item.number},
            #{item.createTime},
            #{item.updateTime})
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update">
        update books
        <set>
            <if test="isbn != null and isbn != ''">ISBN = #{isbn},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="cover != null and cover != ''">cover = #{cover},</if>
            <if test="author != null and author != ''">author = #{author},</if>
            <if test="publish != null and publish != ''">publish = #{publish},</if>
            <if test="publishDate != null">publish_date = #{publishDate},</if>
            <if test="bookTypeId != null">book_type_id = #{bookTypeId},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </update>

    <!-- 批量更新，需要设置jdbc的url参数allowMultiQueries=true -->
    <update id="batchUpdate">
        <foreach collection="books" item="item" separator=";">
            update books
            <set>
                <if test="item.isbn != null and item.isbn != ''">ISBN = #{item.isbn},</if>
                <if test="item.name != null and item.name != ''">name = #{item.name},</if>
                <if test="item.cover != null and item.cover != ''">cover = #{item.cover},</if>
                <if test="item.author != null and item.author != ''">author = #{item.author},</if>
                <if test="item.publish != null and item.publish != ''">publish = #{item.publish},</if>
                <if test="item.publishDate != null">publish_date = #{item.publishDate},</if>
                <if test="item.bookTypeId != null">book_type_id = #{item.bookTypeId},</if>
                <if test="item.description != null and item.description != ''">description = #{item.description},</if>
                <if test="item.createTime != null">create_time = #{item.createTime},</if>
                <if test="item.updateTime != null">update_time = #{item.updateTime},</if>
            </set>
            <where>
                <if test="item.id != null and item.id != ''">id = #{item.id}</if>
            </where>
        </foreach>
    </update>

    <!-- 删除/批量删除 -->
    <delete id="delete">
        delete from books where id in
        <foreach collection="ids" item="item" separator="," open="(" close=")">
            <if test="item != null">#{item}</if>
        </foreach>
    </delete>
</mapper>