<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ling.mappers.BookMapper">
    <!-- 通用sql -->
    <sql id="commonSelect">
        select id,
               ISBN,
               name,
               cover,
               author,
               publish,
               publish_date,
               book_type_id,
               description,
               number,
               create_time,
               update_time
    </sql>

    <!-- 条件分页查询 -->
    <select id="select" resultType="com.ling.entity.book.Book">
        <include refid="commonSelect"/>
        from books
        <where>
            <if test="bookQuery.name != null and bookQuery.name != ''">
                name like concat('%', #{bookQuery.name}, '%')
            </if>
            <if test="bookQuery.author != null and bookQuery.author != ''">
                and author like concat('%', #{bookQuery.author}, '%')
            </if>
            <if test="bookQuery.startDate != null and bookQuery.endDate != null">
                and publish_date between #{bookQuery.startDate} and #{bookQuery.endDate}
            </if>
            <if test="bookQuery.bookTypeId != null">
                and book_type_id = #{bookQuery.bookTypeId}
            </if>
        </where>
    </select>

    <!-- 通过id查询 -->
    <select id="selectById" resultType="com.ling.entity.book.Book">
        <include refid="commonSelect"/>
        from books
        where id = #{id}
    </select>

    <!-- 插入 -->
    <insert id="insert">
		insert into books 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="book.id != null">id,</if>
			<if test="book.isbn != null and book.isbn != ''">isbn,</if>
			<if test="book.name != null and book.name != ''">name,</if>
			<if test="book.cover != null and book.cover != ''">cover,</if>
			<if test="book.author != null and book.author != ''">author,</if>
			<if test="book.publish != null and book.publish != ''">publish,</if>
			<if test="book.publishDate != null">publish_date,</if>
			<if test="book.bookTypeId != null">book_type_id,</if>
			<if test="book.description != null and book.description != ''">description,</if>
			<if test="book.number != null">number,</if>
			<if test="book.createTime != null">create_time,</if>
			<if test="book.updateTime != null">updat_time,</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="book.id != null">#{book.id},</if>
			<if test="book.isbn != null and book.isbn !=''">#{book.isbn},</if>
			<if test="book.name != null and book.name != ''">#{book.name},</if>
			<if test="book.cover != null and book.cover != ''">#{book.cover},</if>
			<if test="book.author != null and book.author != ''">#{book.author},</if>
			<if test="book.publish != null and book.publish != ''">#{book.publish},</if>
			<if test="book.publishDate != null">#{book.publishDate},</if>
			<if test="book.bookTypeId != null">#{book.bookTypeId},</if>
			<if test="book.description != null and book.description != ''">#{book.description},</if>
			<if test="book.number != null">#{book.number},</if>
			<if test="book.createTime != null">#{book.createTime},</if>
			<if test="book.updateTime != null">#{book.updateTime},</if>
		</trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsert">

    </insert>

    <!-- 更新 -->
    <update id="update">

    </update>

    <!-- 删除/批量删除 -->
    <delete id="delete"></delete>
</mapper>